.odd {
    background-color: rgb(231, 87, 159);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#second {
    color: rgb(29, 29, 189);
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#fourth {
    background-color: rgb(141, 209, 141);
    font-size: 24px;
    font-weight: bold;
}